@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{
    input::placeholder {
        font-size: 12px;
    }
    @media(min-width: 768px){
        input::placeholder {
            font-size: 16px;
        }
    }
}

@layer {
    .brillo{
        filter: brightness(1000%);
    }
}

@layer{
    .errorMessague{
        position: absolute;
        content: "";
        color: red;
        font-size: 16px;
        font-weight: 600;
        padding: 0.5rem;
        top: 50%;
        right: 18%;

    }
}

